* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #010110;
}

.navAI {
    background-color: #292929;
}

.navBut {
    border: none;
    background-color: #010110;
    color: white;
    font-weight: lighter;
    font-size: 9pt;
}

.navBut:hover {
    background-color: #6e40ff;
    font-weight: normal;
}

.last {
    color: white;
    background-color: #6e40ff;
    font-weight: normal;
    font-size: 9pt;
    border: none;
}

.last:hover {
    border: 1pt white solid;
    background-color: #292929;
}

.landing h1 {
    font-size: 60pt;
}

.landing p {
    margin: 0px 30%;
    font-size: 10pt;
}

.but {
    background-color: #6e40ff;
    font-size: 10pt;
    font-weight: lighter;
}

.but:hover {
    background-color: #010110;
    font-size: 10pt;
    font-weight: normal;
    border: 1px white solid;
}

.but1 {
    background-color: #292929;
    font-size: 10pt;
    font-weight: lighter;
}

.but1:hover {
    background-color: #010110;
    font-size: 10pt;
    font-weight: normal;
    border: 1px white solid;
}

.logos {
    background-color: #292929;
    overflow: hidden; 
    white-space: nowrap;
    position: relative;
}

.logos::before { 
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0),#292929);
}

.logos::after {
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0),#292929);
}

.logos::before,
.logos::after {
    height: 100%;
    top: 0;
    
    position: absolute;
    width: 150px;
    z-index: 2;
    content: "";
}

.logo-slides {
    display: inline-block;
   animation: slide 35s linear infinite;
}

.logos:hover .logo-slides {
    animation-play-state: paused;
}

.logo-slides img{
    margin-right: 50px;
    
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.prod {
    background-color: #292929;
}

.prod img {
    margin-right: 10px;
}

.prod>.btn {
    background-color: #6e6c6c;
}

.agent {
    background-color: #292929;
}

.agent button {
    color: white;
    border: 1px white solid;
    font-size: 10pt;
    font-weight: lighter;
}

.agent button:hover{
    border: 1px #292929 solid;
   
}

.agnt p{
    font-size: 40pt;
}

.rata {
    text-align: justify;
}

.tom-agnt {
    background-color: #6e40ff;
    color: white;
    
}

.kol-off {
    background-color: #292929;
}

.embed h1 {
    font-size: 36pt;
}

.gd {
    background-color: #292929;
}

.exp button {
    background-color: #6e40ff;
    font-size: 9pt;
}

.exp button:hover {
    background-color: #512cc9;
    
}

.exp p{
    margin: 0px 300px;
}

.get {
    background-color: #6e40ff;
    transform: rotate(-1deg);
   
}

